.todo_header{
    width: 100vw;
    height: 5vh;
    background-color: white;
    text-align: center;
}
.header_text{
    color:grey;
    font-size: 2.4em;
}
.flex_container{
    display: flex;
    height:95vh;
}

.left_panel{
    width: 400px;
    flex: 1;
    background-color: #F8F8F8;
    margin-left: 5px;
    box-shadow: 5px 5px 5px lightgray;
    border-color: lightgray;
    border-width: 1px;
    border-style:solid;
    height: 92vh;
}

.right_panel{
    width: 400px;
    background-color:#F8F8F8;
    flex: 2;
    margin-left: 20px;
    margin-right: 10px;
}

.left_panel_content{
    margin: auto;
    width: 95%;
    padding: 10px;
    box-shadow: 5px 5px 5px lightgray;
    border-color: lightgray;
    border-width: 1px;
    border-style:solid;
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
}

.add_task_title{
    text-align: center;
    font-size: 1.2em;
    color: gray;
    font-weight: bold;
    margin-bottom: 5px;
}

.todo_list{
}

.todo_list_title{
    padding-left: 10px;
    font-size: 1.2em;
    color: gray;
    font-weight: bold;
}

.todo_list_uncompleted{
    display: flex;
    height: 42vh;
    width:100%;
    overflow-y:auto;
    flex-wrap: wrap;
}

.todo_list_uncompleted_container{
    box-shadow: 5px 5px 5px lightgray;
    border-color: lightgray;
    border-width: 1px;
    border-style:solid;
}

.todo_list_completed{
    display: flex;
    height: 42vh;
    width:100%;
    overflow-y:auto;
    flex-wrap: wrap;
}

.todo_list_completed_container{
    margin-top: 20px;
    box-shadow: 5px 5px 5px lightgray;
    border-color: lightgray;
    border-width: 1px;
    border-style:solid;
}

.todo_card{
    background-color: white;
    color: lightskyblue;
    width: 300px;
    height: 160px;
    margin-left: 5px;
    margin-top: 3px;
    padding-left: 4px;
    padding-top: 2px;
    position: relative;
    box-shadow: 5px 5px 5px lightgray;
    border-color: lightgray;
    border-width: 1px;
    border-style:solid;
    border-radius: 5px;
}

.card_title {
    color: grey;
    font-weight: bold;
    font-size: 1.2em;
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card_content{
    color: black;
    font-size: 1.1em;
    width: 100%;
    overflow-y: auto;
    height: 50px;
}

.card_attachmet {
    max-width:80px;
    max-height:60px;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card_attachmet_popover{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:400px;
    max-height:400px;
    width: auto;
    height: auto;
}

.card_content_completed{
    text-decoration-line: line-through;
}

.card_title_completed{
    text-decoration-line: line-through;
}

.card_close_btn{
    position: absolute;
    top: 2px;
    right: 5px;
    cursor: pointer;
    text-align: center;
    color: black;
    font-weight: bold;
    width: 16px;
    height: 16px;
}

.card_enlarge_btn{
    position: absolute;
    top: 4px;
    right: 30px;
    cursor: pointer;
    text-align: center;
    color: black;
    font-weight: bold;
    width: 16px;
    height: 16px;
}

.btn_task_completed{
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    text-align: center;
    width: 16px;
    height: 16px;
}

.card_duedate{
    color:grey;
    position: absolute;
    bottom: 1px;
    left: 5px;
    cursor: pointer;
    text-align: center;
}

.large_card_attachment{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:600px;
    max-height:600px;
    width: auto;
    height: auto;
}

.large_card_attachment_text{
    vertical-align: top;
}

.large_card_img{

}

.resetButton{
    margin-left: 20px;
}

